body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: rgb(76, 154, 235);
  margin: 50px;
}

#text_ba {
  margin-bottom: 20px;

  input {
    font-size: 1.5em;
    border-radius: .25em;
    color: red;
  }
}

button {
  height: 25px;
  margin: 5px;
  font-size: 1em;
  color: navy;
}

input {
  font-size: 1em;
  border-radius: .25em;
  color: gray;
}

.note {
  position: absolute;
  border-color: black;
  border-width: thin;
  border-style: solid;
  height: 350px;
  width: 280px;
  padding: 5px;
  background-color: rgb(255, 221, 74);
  border-radius: 8px;
  button {
    color: navy;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 16pt;
  font-style: italic;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
}

.buttons {

}

.textbox {
  height: 290px;
  width: 250px;
  padding: 5px;
  margin: 5px;
}
