body {
  margin: 50px;

  color: rgb(10%, 10%, 10%);
  background: rgb(76, 154, 235);

  font-family: "Roboto", sans-serif;
}

// Unsure what this text_ba is... TODO check if unnecessary
#text_ba {
  margin-bottom: 20px;

  input {
    color: red;
    border-radius: .25em;

    font-size: 1.5em;
  }
}

#titleBox {
  padding: 4px;

  transition-duration: 1s;

  color: black;
  border: solid 1px rgb(120,120,120);
  border-radius: 4px;

  &:focus {
    border-color: black;
    outline: 0px;
  }
}

button {
  margin: 5px;
  padding: 4px 7px;

  cursor: pointer;
  transition-duration: .5s;

  color: navy;
  border: solid 1px rgb(170, 170, 170);
  border-radius: 4px;
  background-color: rgb(200, 200, 180);

  font-size: 1em;

  &:hover {
    border-color: rgb(150, 150, 150);
    background-color: rgb(180, 180, 180);
  }
  &:focus {
    border-color: rgb(120, 120, 120);
    outline: 0px;
  }
}

.noteMover:active {
  cursor: move;
}

input {
  color: gray;
  border-radius: .25em;

  font-size: 1em;
}

.note {
  position: absolute;

  display: flex;
  flex-direction: column;

  width: 280px;
  height: 350px;
  padding: 5px;

  border-width: thin;
  border-style: solid;
  border-color: black;
  border-radius: 8px;
  background-color: rgb(255, 221, 74);

  justify-content: space-between;
  button {
    color: navy;
  }
}

.title {
  margin-right: 10px;

  text-align: center;

  font-size: 16pt;
  font-weight: bold;
  font-style: italic;
}

.buttons {
  display: flex;

  justify-content: space-around;
}

.textbox {
  width: 250px;
  height: 290px;
  margin: 5px;
  padding: 5px;
}
